[Unit]
Description=GunsmithBot - Twitch Clip Announcer
After=network-online.target

[Service]
Type=exec
User=<XXXXXXXXXXXXXXXXXXXXX>
Group=<XXXXXXXXXXXXXXXXXXXXX>
UMask=002

Environment=RAILS_ENV=production
Environment=GUNSMITH_DB_HOST=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_DB_USERNAME=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_DB_PASSWORD=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_DB_NAME=<XXXXXXXXXXXXXXXXXXXXX>


WorkingDirectory=/usr/local/gunsmithbot
ExecStart=/usr/bin/ruby /usr/local/gunsmithbot/app/announce_twitch_clips.rb
Restart=always

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target