[Unit]
Description=GunsmithBot - <SERVER_NAME>
After=network-online.target

[Service]
Type=simple
User=<XXXXXXXXXXXXXXXXXXXXX>
Group=<XXXXXXXXXXXXXXXXXXXXX>
UMask=002

Environment=BUNGIE_API_TOKEN=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_BOT_USERNAME=banshee-44
Environment=RAILS_ENV=production
Environment=GUNSMITH_DB_HOST=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_DB_USERNAME=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_DB_PASSWORD=<XXXXXXXXXXXXXXXXXXXXX>
Environment=GUNSMITH_DB_NAME=<XXXXXXXXXXXXXXXXXXXXX>

Environment=SLACK_API_TOKEN=<XXXXXXXXXXXXXXXXXXXXX>
### OR
### Environment=DISCORD_API_TOKEN=<XXXXXXXXXXXXXXXXXXXXX>

ExecStart=/usr/bin/ruby /usr/local/gunsmithbot/app/slack_runner.rb
### OR
### ExecStart=/usr/bin/ruby /usr/local/gunsmithbot/app/discord_runner.rb
Restart=always

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
